html {
  font-family: "Lucida Sans Unicode",sans-serif
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}




.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-item {
  margin: 10px; /* Optional: Add margin for spacing between items */
}

 .container {
  width: 100vw;
  /* margin: 0 2vw; */
  /* padding: 10px; */
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-bg-image {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://cdn.discordapp.com/attachments/1169014161238401109/1182025529113710774/photo-1585747860715-2ba37e788b70.png?ex=6583320f&is=6570bd0f&hm=75a12b883f5c4babbf3908691885b7cc4cb60f9afc9320391e523480dc36bd1e&");
}

.contents{
  background-color: #f9f9f9; /* Set a slightly different white color */
  width: 60vw;
  
}




.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile-item {
  list-style-type: none; 
  border: 5px solid #f9f9f9;
  background-color: white;
  border-radius: 35px;
  box-sizing: border-box;
  text-align: center;
  width: 100%; /* Occupy the full width of the services-list */
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px; /* Optional: Add margin between services items */
}







.services-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.services-list {
  width: 48%; /* Adjust the width as needed */
}

.services-item {
  list-style-type: none; 
  border: 5px solid #f9f9f9;
  background-color: white;
  border-radius: 35px;
  box-sizing: border-box;
  text-align: center;
  width: 100%; /* Occupy the full width of the services-list */
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px; /* Optional: Add margin between services items */
}

.services-item:hover {
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-in-out;
  transform: scale(1.05);
}

.cart {
  width: 48%; /* Adjust the width as needed */
  text-align: center; /* Optional: Center the content within the cart */
}












.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-item {
  border: 5px solid #f9f9f9; /* Set the border color to a slightly different white */
  margin: 1vw;
  width: calc(33.33% - 4vw);
  height: 45vh;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background-color: white; /* Set the background color to white */
  border-radius: 35px;
  text-align: center;
}


.card-item:hover {
  background-color: #f9f9f9; /* Change to a slightly different white on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a box shadow on hover for a raised effect */
  transition: background-color 0.3s ease-in-out;
  transform: scale(1.05);
}

.card-item img {
  width: 90%;
  height: 60%;
  object-fit: contain;
}
 

body {
  margin: 0;
  padding: 0;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Adjust as needed */
  background-color: #f0f0f0; /* Example background color */
  width: 100%;
  margin: 0; /* Remove default margin */
}


.barber-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  box-sizing: border-box;
  margin: 5px;
  overflow: hidden; /* Ensure that overflowing content is hidden */
  width: 30vw; /* Adjust as needed */
  max-height: 35vh; /* Set a maximum height to the container */
}

.barber-card p {
  text-align: center;
  margin: 0; /* Remove default margin */
  width: 80%; /* Adjust as needed */
}

.barber-card img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure the image fits within the container without being cut off */
}

/* kenneth */
.react-calendar { 
  width: 25vw;
  max-width: 100%;
  background-color: white(131, 125, 125);
  color: black;
  border-radius: 10px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
 }

 .react-calendar__navigation button {
  color: black;
  min-width: 44px;
  background:none;
  font-size: 16px;
  margin-top: 8px;
 }

.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 10vh;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 3vw;
  /* background: none; */
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  /* color: #d10000; */
  color: black;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: black;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  /* background: #ffff76; */
  background-color: #6f48eb;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #6f48eb;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.times {
  height: 9vh;
  width: 4.5vw;
  border-radius: 50%;
  border: none;
  font-size: 1vw;
  color: black;
  margin-bottom: 2vh;
}
.times:hover {
  background-color: gray;
  color:white;
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
